* 
{
  margin: 0;
  padding: 0;
  /*google font Light 300*/
  font-family: 'Prompt', sans-serif;
  font-family: 'Source Code Pro', monospace;
  /*snap smooth scroll>navbar>snap to page*/
  scroll-behavior: smooth;
}

body 
{
  color: #1E2761;
}
/*section(each page 100vh)*/
.section 
{
  width: 100%;
  height: 100vh;
}
/*navbar*/
header 
{
  position: fixed;
  margin-top: 30vh;
}

header nav ul 
{
  width: 5%;
}

header nav ul li 
{
  padding: 2rem;
}

header nav ul li a 
{
  text-decoration: none;
  color: white;
}
/*hover color on navbar*/
header nav ul li a:hover 
{
  color: black;
}
/*Page 1*/
.container-start-page 
{
  background-color: transparent;
  display: flex;
}

.container-start-page .start-page-pic-box .pic-behind-pic 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 325px;
  margin-left: 375px;
}

.container-start-page .start-page-pic-box .colored-block 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 225px;
  margin-left: 225px;
  background-color: skyblue;
}

.container-start-page .start-page-pic-box .self-pic-start 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 275px;
  margin-left: 300px;
}

/*typing animation*/
.container-start-page .txt-box 
{
  font-size: 60px;
  margin-top: 45vh;
  margin-left: 50%;
}

.container-start-page .txt-box .static-txt 
{
  display: inline-block;
  vertical-align: top;
  color: black;
}

/*code for background*/
.container-start-page .animation-bg1 
{
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-40deg, #1E2761 50%, #802bb1 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.container-start-page .animation-bg2 
{
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.container-start-page .animation-bg3 
{
  animation-duration: 5s;
}

@keyframes slide 
{
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}