* 
{
  margin: 0;
  padding: 0;
  /*google font Light 300*/
  font-family: 'Prompt', sans-serif;
  font-family: 'Source Code Pro', monospace;
  /*snap smooth scroll>navbar>snap to page*/
  scroll-behavior: smooth;
}

body 
{
  color: #1E2761;
}
/*section(each page 100vh)*/
.section 
{
  width: 100%;
  height: 100vh;
}
/*navbar*/
header 
{
  position: fixed;
  margin-top: 30vh;
}

header nav ul 
{
  width: 5%;
}

header nav ul li 
{
  padding: 2rem;
}

header nav ul li a 
{
  text-decoration: none;
  color: white;
}
/*hover color on navbar*/
header nav ul li a:hover 
{
  color: black;
}
/*Page 1*/
.container-start-page 
{
  background-color: transparent;
  display: flex;
}

.container-start-page .start-page-pic-box .pic-behind-pic 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 325px;
  margin-left: 375px;
}

.container-start-page .start-page-pic-box .colored-block 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 225px;
  margin-left: 225px;
  background-color: skyblue;
}

.container-start-page .start-page-pic-box .self-pic-start 
{
  width: 350px;
  height: 350px;
  position: absolute;
  margin-top: 275px;
  margin-left: 300px;
}

/*typing animation*/
.container-start-page .txt-box 
{
  font-size: 60px;
  margin-top: 45vh;
  margin-left: 50%;
}

.container-start-page .txt-box .static-txt 
{
  display: inline-block;
  vertical-align: top;
  color: black;
}

/*code for background*/
.container-start-page .animation-bg1 
{
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-40deg, #1E2761 50%, #802bb1 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.container-start-page .animation-bg2 
{
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.container-start-page .animation-bg3 
{
  animation-duration: 5s;
}

@keyframes slide 
{
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/*Page 2*/
.container-projects-page 
{
  background-color: #1E2761;
  /*border top page*/
  border-top: darkblue;
  border-top-style: solid;
  border-top-width: 5px;
}
/*html project*/
.container-projects-page .projects-html 
{
  display: flex;
  width: 100%;
}

.container-projects-page .projects-html .pic-html 
{
  width: 275px;
  height: 275px;
  margin-top: 4vh;
  margin-left: 10%;
  margin-right: 5%;
}

.container-projects-page .projects-html .pic-html img 
{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.container-projects-page .projects-html .txt-html 
{
  width: 40%;
  height: 250px;
  margin-top: 4vh;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  background-color: #fff;
}

.container-projects-page .projects-html .txt-html p
{
  margin-left: 5%;
  margin-bottom: 30px;
}
/*Java project*/
.container-projects-page .projects-java 
{
  display: flex;
}

.container-projects-page .projects-java .txt-java 
{
  width: 40%;
  height: 250px;
  margin-top: 2vh;
  margin-left: 29.5%;
  margin-right: 5%;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  background-color: #fff;
}

.container-projects-page .projects-java .txt-java p
{
  margin-left: 5%;
  margin-bottom: 30px;
}

.container-projects-page .projects-java .pic-java 
{
  width: 275px;
  height: 275px;
  margin-top: 2vh;
}

.container-projects-page .projects-java .pic-java img 
{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
/*python project*/
.container-projects-page .projects-python 
{
  display: flex;
  width: 100%;
}

.container-projects-page .projects-python .pic-python 
{
  width: 275px;
  height: 275px;
  margin-top: 3vh;
  margin-left: 13%;
  margin-right: 2%;
}

.container-projects-page .projects-python .pic-python img 
{
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

.container-projects-page .projects-python .txt-python 
{
  width: 40%;
  height: 250px;
  margin-top: 3vh;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  background-color: #fff;
}

.container-projects-page .projects-python .txt-python p
{
  margin-left: 5%;
  margin-bottom: 30px;
}

.container-projects-page .title_txt h3 
{
  font-size: 25px;
  margin-left: 7.5%;
  margin-bottom: 10px;
}

.container-projects-page .project-but
{
  width: 100px;
  height: 30px;
}

.container-projects-page .but-pro-site
{
  text-decoration: none;
  margin-left: 7.5%;
  padding: 15px;
  border-radius: 20px;
  color: white;
  background-color: #1E2761;
}

/*Page 3*/
.container-about-page 
{
  display: flex;
  background-color: #1E2761;
  /*border top page*/
  border-top: darkblue;
  border-top-style: solid;
  border-top-width: 5px;
}

.container-about-page .self-swimming-pic-about 
{
  width: 20%;
  height: 50vh;
  margin-top: 25vh;
  margin-left: 10%;
}

.container-about-page .self-swimming-pic-about img 
{
  width: 100%;
  height: 100%;
  border-radius: 30px;

}

.container-about-page .info-about-txtbox 
{
  width: 40%;
  height: 40vh;
  border-radius: 75px;
  margin-top: 30vh;
  margin-left: 10%;
  background-color: white;
}

/*show on pc and mobile*/
.container-about-page .info-about-txtbox .show
{
  margin-top: 5%;
  margin-left: 5%;
}

/*dont show on phone*/
.container-about-page .info-about-txtbox .not-on-phone
{
  margin-left: 5%;
  margin-bottom: 40px;
}

.container-about-page .info-about-txtbox .same-but
{
  text-decoration: none;
  margin-left: 7.5%;
  padding: 15px;
  border-radius: 20px;
  color: white;
  background-color: #1E2761;
}

/*but-about -> page for video,*/
.zwemmen-vid-page
{
  width: 100%;
  height: 90vh;
  background-color: #1E2761;
}
/*txt next video*/
.zwemmen-vid-page .about-vid-txt
{
  margin-left: 37.5%;
}
.zwemmen-vid-page .about-vid-txt h2
{
  font-size: 40px;
  color: black;
}
/*video*/
.zwemmen-vid-page .video-screen
{
  width: 65%;
  height: 75vh;
  margin-top: 7.5vh;
  margin-left: 17.5%;
}
.vid-footer
{
  width: 100%;
  height: 10vh;
  background-color: black;
}
.vid-footer .txt-footer-navbar a
{
  text-decoration: none;
  font-size: 30px;
  color: #1E2761;
}
.vid-footer .txt-footer-navbar a h2
{
  margin-left: 47.5%;
}

/*but-languages-table -> page with table*/
.container-table
{
  width: 100%;
  height: 90vh;
  background-color: #1E2761;
}
.container-table .all-content
{
  margin-left: 40%;
}
.container-table .all-content .content-txt
{
  color: #009879;
  font-size: 25px;
}
.container-table .all-content .content-table 
{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.container-table .all-content .content-table thead tr 
{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.container-table .all-content .content-table th,
.container-table .all-content .content-table td 
{
  padding: 12px 15px;
}

.container-table .all-content .content-table tbody tr 
{
  border-bottom: 1px solid #dddddd;
}

.container-table .all-content .content-table tbody tr:nth-of-type(even) 
{
  background-color: #f3f3f3;
}

.container-table .all-content .content-table tbody tr:last-of-type 
{
  border-bottom: 2px solid #009879;
}

.container-table .all-content .content-table tbody tr.active-row 
{
  font-weight: bold;
  color: #009879;
}
/*table page*/
.table-footer
{
  width: 100%;
  height: 10vh;
  background-color: black;
}
.table-footer .txt-footer-navbar-table a
{
  text-decoration: none;
  font-size: 30px;
  color: #1E2761;
}
.table-footer .txt-footer-navbar-table a h2
{
  margin-left: 47.5%;
}
